*{
	margin:0;
	padding: 0;
}

body,
html{
	position: relative;
	/*background: url(../img/bg-min.jpg) no-repeat center center fixed;*/
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

a,
a:link,
a:active,
a:visited{
	text-decoration: none;
	color: none;
}

.modal{
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(28,28,28,0.8);
}

.modal-content{
	background: #fff;
	margin: 6% auto;
	padding: 30px;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    max-width: 70%;
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-header{
	padding: 5px auto;
	text-align: center;
	color: #1c1c1c;
	font-size: 35px;
}

.modal-body{
	margin: 25px auto;
	text-align: center;
}

.modal-body input{
	padding: 12px;
	width: 60%;
	margin: 10px 20px;
	border: 1px solid #BDBDBD;
	border-radius:20px;
	transition: ease 0.1s;
	outline: none;
}

.modal-body input:active,
.modal-body input:focus{
	border: 1px solid #0091EA;
	border-left: 0px;
}

.modal-body .login-submit{
	padding: 12px 100px;
	margin: 20px 0 0 0;
	font-size: 16px;
	color: #FF5C5C;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 2px;
	border: 2px solid #FF5C5C;
	transition: all 0.1s;
	background: #fff;
}

.modal-body .login-submit:hover{
	background-color: #FF5C5C;
    color: #fff;
}	

.close,
.close-popup{
	color: rgba(28,28,28,0.4);
	float: right;
}

.close:hover,
.close:focus,
.close-popup:hover,
.close-popup:focus {
    color: rgba(0,0,0,0.8);
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 768px){
	.modal-content{
		top: 15%;
	}

	.modal-body input{
		width: 85%;
	}
}

.table{
	display: table;
	width: 100%;
}

.table-row{
	display: table-row;
}

.table-head{
	display: table-header-group;
	font-weight: bold;
}

.table-body{
	display: table-row-group;
}

.table-footer{
	display: table-footer-group;
}

.table-cell, 
.table-head{
	display: table-cell;
	padding: 8px;
	max-width: 200px;
	text-overflow: ellipsis;
	white-space: nowrap; 
	overflow: hidden;
}

.table-cell button{
	padding: 8px;
}

.extra-buttons a, 
.extra-buttons button{
	float: right;
	color: #3F51B5;
	padding-right:15px;
	border: 0;
	background: #fff;
}

.extra-buttons input{
	padding: 2px;
	border-color: transparent;
	border: 1px solid #BDBDBD;
	border-radius:20px;
	transition: ease 0.1s;
	outline: none;
	width: 150px;
	margin: 0;
}

.more-info{
	color: #0091EA;
	border: 0;
	background: transparent;
}

.delete-button{
	color: #D50000;
	border: 0;
	background: transparent;
}

.edit-button{
	color: #9E9E9E;
	border: 0;
	background: transparent;
}

.more-info:hover,
.delete-button:hover,
.extra-buttons a:hover,
.extra-buttons button:hover,
.edit-button:hover{
	cursor: pointer;
	color: #1c1c1c;
}

.not-found{
	color: #9E9E9E;
}

.nuevo-elemento{
	padding: 8px;
	max-width: 700px;
}

.nuevo-elemento p{
	margin: 50px 0 20px 0;
}

.nuevo-elemento button{
	border: 2px solid #0091EA;
	padding: 10px 30px;
	background: #fff;
	color: #0091EA;
	border-radius: 4px;
	margin: 30px auto;
	display: block;
}

.nuevo-elemento button:hover{
	background: #0091EA;
	color: #fff;
	cursor: pointer;
}

.info-elemento,
.confirmar-elemento{
	margin: 20% auto;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background: #Fff;
}

.info-elemento{
	width: 60%;
	padding: 30px;
}

.confirmar-elemento{
	width: 350px;
	padding: 15px;
}

.confirmar-continuar,
.confirmar-cancelar{
	padding: 6px 10px;
	margin: 10px 4px;
	border: 0;
	border-radius: 4px;
	color: #fff;
}

.confirmar-buttons{
	text-align:center;
}

.confirmar-continuar{
	background: #D50000;
}

.confirmar-cancelar{
	background: #0091EA;
}

.confirmar-continuar:hover,
.confirmar-cancelar:hover{
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
}

.info-elemento .info{
	padding: 30px;
}

.info-elemento .info .table-cell{
	text-overflow: clip;
	white-space: normal;
}

.info-elemento p{
	padding: 8px;
}

.container{
	margin: 76px auto;
	position: absolute;
	width: 98%;
}

.tabs{
	overflow: hidden;
	position: fixed;
	margin: 0 2px;
}

.tabs a{
	padding: 8px 30px;
    width: 80px;
    float: left;
    outline: none;
    cursor: pointer;
    margin: auto 5px 2px 0;
    transition: all 0.3s;
    border: 1px solid #1c1c1c;
    color: #fff;
    border-radius: 2px;
    background: #fff;
    font-size: 18px;
    color: #1c1c1c;
}

a.tab-active{
	background: #1c1c1c;
	color: #fff;
}

.tabs a:hover,
.tabs a:active{
	background: #1c1c1c;
	color: #fff;
}

.nuevo-form{
	position: fixed;
	right: 20px;
}

@media (max-width: 1024px){
	.nuevo-form{
		bottom: 0;
		position: absolute;
		left: 50px;
	}
}

.tab-content{
	max-width: 600px;
	padding: 30px 20px;
	margin: 50px 20px;
}

		